#schedule-container{
	display: none;
}

#select-group-container{
	display: none;
}

#schedule-loader{

}

#top-navbar{
	z-index: 100;
}

.green{
	color:#458746;
}

.red{
	color:#B94846;
}

.blue{
	color:#3986AC;
}

.yellow{
	color:#F99406;
}

footer a{
	color:#242424;
}

footer a:hover{
	color:#242424;
}

footer a:link{
	color:#242424;
}

footer a:visited{
	color:#242424;
}

.current{
	font-weight:900;
}